<div class="each-review">
  <table>
    <tr>
      <td><b>Rating</b></td>
      <td><%= review.rating %></td>
    </tr>
    <tr>
      <td><b>Review</b></td>
      <td><%= review.description %></td>
    </tr>
    <tr>
      <td><b>User</b></td>
      <td><%= review.user_id %></td>
    </tr>
  </table>
</div>

